<a href="https://colab.research.google.com/github/VijayLaxmi999/Medical-Store-Management-System/blob/main/ABC%20DAY%201.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
list[0]=5

In [7]:
print(list1)
list1.append(23)
list1.insert(1,34)
print(list1)

[1, 2, 3, 'Anand', 'rahul', True, 23]
[1, 34, 2, 3, 'Anand', 'rahul', True, 23, 23]

In [10]:
for x in list1
print(x)

SyntaxError: expected ':' (ipython-input-10-4163235824.py, line 1)

In [9]:
print(list1)
list1.append(23)
list1.insert(1,34)
list.extend([1,2,3])
print(list1)

[1, 34, 2, 3, 'Anand', 'rahul', True, 23, 23]

TypeError: list.extend() takes exactly one argument (0 given)

In [4]:
# list
list1=[]
type(list)

type

In [5]:
list1=[1,2,3,"Anand","rahul",True]
print(list1)

[1, 2, 3, 'Anand', 'rahul', True]

In [13]:
tuple1.count(1)

NameError: name 'tuple1' is not defined

In [14]:
set1={1,2,3,4,1,2,3,"am"}
print(set1)

{1, 2, 3, 4, 'am'}

In [18]:
dict1={"name":["lax","laxmi","Lakshay"],"fullname":[lax",5,8,8]}
dict1

SyntaxError: unterminated string literal (detected at line 1) (ipython-input-18-1010599076.py, line 1)

In [ ]:
# control flow : condition statement if if elif else,looping for while,jumping break continue pass

In [24]:
import pandas as pd
dict1={"name":["mohan","ravi","keshav","jojo"],"age":[23,12,23,45]}
pd.DataFrame(dict1)

     name  age
0   mohan   23
1    ravi   12
2  keshav   23
3    jojo   45

In [21]:
data["name"]=="ravi"

NameError: name 'data' is not defined

In [22]:
twelve=data["age"]==12

NameError: name 'data' is not defined

In [25]:
# hungry if if elif else
hungry = True

if hungry:
    print("Let's eat!")
else:
    print("Not hungry right now.")

Let's eat!

In [27]:
# loop while
for x in range(0,10);
print (x)

SyntaxError: invalid syntax (ipython-input-27-4294607214.py, line 2)

In [26]:
i = 1
while i <= 10:
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9
10